{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <div align='center'>
      <h1 >Welcome to the cart of {{user.username}}</h1>
    </div>
  </div>

  <div class="container">

    {% for product in cart %}

    <div class="card" >

      <div class="card-body">
        <table>
          <tr>
            <td>
              <h2>{{ product.prod.product_name }}</h2>
              <p>You have {{product.quantity}} in cart</p>
            </td>
            <td>
              <img align='center' src="{{ url_for('static', filename='product_pics/' + product.prod.product_image) }}">
            </td>
            <td>
              <h6>Amount : {{ product.prod.price*product.quantity }}</h6>
            </td>
            <td>
              <form method="post" action="{{ url_for('users.cart_edit', product_id=product.prod.id )}}">
                {{ qform.hidden_tag() }}
                {{ qform.quantity.label }}{{ qform.quantity() }}
                {{ qform.submit() }}
              </form>
            </td>
          </tr>
        </table>
      </div>
    </div>

   {% endfor %}

   <h3>Total Amount: {{ total }}</h3>
   <form action="index.html" method="post">
     {{ oform.hidden_tag() }}
     {{oform.name.label}}{{oform.name()}}
     {{oform.address.label}}{{oform.address()}}
     {{oform.phone.label}}{{oform.phone()}}
     {{oform.submit()}}

   </form>


  {% endblock %}
